<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comment.dao.mapper.EmpathyMapper">
	
	<update id="updateIncreaseEmpathy" parameterType="java.util.List">
		<foreach collection="list" item="commentId" index="index" separator=";">
        	UPDATE comment SET empathy = empathy+1
        	WHERE id = #{commentId}
    	</foreach> 
	</update>

	<update id="updateDecreaseEmpathy" parameterType="java.util.List">
		<foreach collection="list" item="commentId" index="index" separator=";">
        	UPDATE comment SET empathy = empathy-1
        	WHERE id = #{commentId}
    	</foreach> 
	</update>
	
</mapper>